---
import type { CommentType } from "../../../pages/challenges/interactive-comments-section.astro";

interface Props {
  comment: CommentType;
}

import data from "../../../data/interactive-comments-section.json";

const { comment } = Astro.props;
const isCurrentUser = data.currentUser.username === comment.user.username;
---

<section class="p-4 bg-white rounded-md shadow-sm">
  <header class="flex items-center gap-3 mb-3">
    <img
      src={`${Astro.url.href}${comment.user.image.png}`}
      alt={comment.user.username}
      class="h-8"
    />
    <strong class="text-[var(--dark-blue)]">
      {comment.user.username}
    </strong>
    {
      isCurrentUser ? (
        <div class="px-1.5 mr-1 font-[500] text-sm rounded-sm bg-[var(--moderate-blue)] text-white">
          you
        </div>
      ) : null
    }
    <span class="text-[var(--grayish-blue)]">
      {comment.createdAt}
    </span>
  </header>
  <p class="text-[var(--grayish-blue)] mb-4">
    {
      comment.replyingTo ? (
        <span class="text-[var(--moderate-blue)] font-[500]">
          @{comment.replyingTo}
        </span>
      ) : null
    }{comment.content}
  </p>
  <footer class="flex justify-between items-center">
    <div
      class="flex justify-evenly items-center bg-[var(--very-light-gray)] rounded-lg"
    >
      <button
        class="px-4 py-3 fill-[#C5C6EF] hover:fill-[var(--moderate-blue)] ease-linear duration-150"
      >
        <svg viewBox="0 0 11 11" height="11" width="11">
          <path
            d="M6.33 10.896c.137 0 .255-.05.354-.149.1-.1.149-.217.149-.354V7.004h3.315c.136 0 .254-.05.354-.149.099-.1.148-.217.148-.354V5.272a.483.483 0 0 0-.148-.354.483.483 0 0 0-.354-.149H6.833V1.4a.483.483 0 0 0-.149-.354.483.483 0 0 0-.354-.149H4.915a.483.483 0 0 0-.354.149c-.1.1-.149.217-.149.354v3.37H1.08a.483.483 0 0 0-.354.15c-.1.099-.149.217-.149.353v1.23c0 .136.05.254.149.353.1.1.217.149.354.149h3.333v3.39c0 .136.05.254.15.353.098.1.216.149.353.149H6.33Z"
          ></path>
        </svg>
      </button>
      <span class="text-[var(--moderate-blue)] font-bold">
        {comment.score}
      </span>
      <button
        class="px-4 py-3 fill-[#C5C6EF] hover:fill-[var(--moderate-blue)] ease-linear duration-150"
      >
        <svg viewBox="0 0 11 3" height="3" width="11">
          <path
            d="M9.256 2.66c.204 0 .38-.056.53-.167.148-.11.222-.243.222-.396V.722c0-.152-.074-.284-.223-.395a.859.859 0 0 0-.53-.167H.76a.859.859 0 0 0-.53.167C.083.437.009.57.009.722v1.375c0 .153.074.285.223.396a.859.859 0 0 0 .53.167h8.495Z"
          ></path>
        </svg>
      </button>
    </div>
    {
      isCurrentUser ? (
        <div class="flex gap-4">
          <button class="flex justify-between items-center gap-2 text-[var(--soft-red)] font-bold hover:opacity-70 ease-in duration-150">
            <img src={`${Astro.url.href}/icon-delete.svg`} alt="Reply icon" />
            Delete
          </button>
          <button class="flex justify-between items-center gap-2 text-[var(--moderate-blue)] font-bold hover:opacity-70 ease-in duration-150">
            <img src={`${Astro.url.href}/icon-edit.svg`} alt="Reply icon" />
            Edit
          </button>
        </div>
      ) : (
        <button class="flex justify-between items-center gap-2 text-[var(--moderate-blue)] font-bold hover:opacity-70 ease-in duration-150">
          <img src={`${Astro.url.href}/icon-reply.svg`} alt="Reply icon" />
          Reply
        </button>
      )
    }
  </footer>
</section>
